<div>

<div class="text-center">
    <hr class="borde ">
	
    <div >
        <a href="index.html" class="icon iconredondo">
            <img class="icon" src="assets/img/icono.png" sizes="(max-width: 100px) 100vw, 100px" style="border-radius:0px;margin:0.1rem;" width="44" height="44"><h5>PROLIVE.com</h5>
        </a>
    </div>
    <div id="redsocial">
        <a href="#">
            <img class="icon iconredondo" src="assets/img/twiter.png" sizes="(max-width: 100px) 100vw, 100px">
        </a>
        <a href="#">
            <img class="icon iconredondo" src="assets/img/FB-f-Logo__blue_144.png" sizes="(max-width: 100px) 100vw, 100px">
        </a>
        <a href="#">
            <img class="icon iconredondo" src="assets/img/GooglePlus-logos-01.png" sizes="(max-width: 100px) 100vw, 100px">
        </a>
    </div> 
    <p>Copyright ©  | <a href="#">Design from html5-css3.com.ar</a></p>
    <p>Grupo n°02  © 2020  | <a href="index-5.html">Privacy Policy</a></p>
	<hr class="borde">
</div>
    