<div class="col-md-8 col-sm-12">
    <a *ngIf="!loginService.userLoggedIn" [routerLink]="['login']">Registrarse(Login)</a>
    <a *ngIf="loginService.userLoggedIn" [routerLink]="['login']" (click)="logout()">
        {{loginService.userLogged.usuario}} (logout)
    </a>    
</div> 
<div class="row">               
    <!-- Logo de Pagina -->
    <div class="d-none d-md-block col-md-12 logo justify-content-center alim-items-center text-center textodiario padre" href="index.html">
        <img src="assets/img/icono.png" id="logito" href="index.html">
        <b class=" tituloprincipal displey-1 textodiario text-center" href="index.html">PRO LIVE</b>
    </div>
    <br>
    <!-- Menu de Pagina -->
    <div class="d-none d-md-block col-md-12 logo justify-content-center alim-items-center text-center textodiario borde bg-dark text-light" href="index.html">
        <b>Menu</b>
    </div>  
    <!-- Navigation fixed-top-->
    <nav class=" navbar navbar-expand-lg navbar-light borde  col-sm-12 col-md-12 col-lg-12" id="mainNav">
        <div class="container menuCSS3">
            <div class="navbar-brand js-scroll-trigger" href="index.html">
                <img id="logomenu" src="assets/img/icono.png" width="30" height="30" alt="">PRO LIVE
            </div>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <span class="navbar-toggler-icon"></span>
                
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">      
                <li class="nav-item active" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['home']"><i class="fa fa-home d-lg-none d-md-none d-md-block" aria-hidden="true"></i>&nbsp;Home  <span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['about']"><i class="fa fa-info-circle  d-lg-none d-md-none d-md-block" aria-hidden="true"></i>&nbsp;About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['actividad']"><i class="fa fa-book d-lg-none d-md-none d-md-block" aria-hidden="true"></i>&nbsp;Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['contacto']"><i class="fa fa-envelope d-lg-none d-md-none d-md-block" aria-hidden="true"></i>&nbsp;Contactos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-spin  d-lg-none d-md-none d-md-block"></i>Company</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item btn" [routerLink]="['maps']"><i class="fa fa-map d-md-none d-md-block" aria-hidden="true"></i>&nbsp;
                    Mapa</a>
                        <a class="dropdown-item btn" [routerLink]="['email']"><i class="fa fa-envelope d-md-none d-md-block" aria-hidden="true"></i>&nbsp;
                    E-mail</a>    
                    </div>
                </li>
                
                <li *ngIf="loginService.userLoggedIn && loginService.userLogged.perfil=='Administrador'">
                    <a class="nav-link" [routerLink]="['usuario']"> Usuarios <span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="loginService.userLoggedIn && (loginService.userLogged.perfil=='Socio' || loginService.userLogged.perfil=='Administrador')">
                    <a class="nav-link" [routerLink]="['']"> Novedades <span class="sr-only">(current)</span></a>
                </li> 
                <li *ngIf="loginService.userLoggedIn && (loginService.userLogged.perfil=='Administrativo' || loginService.userLogged.perfil=='Administrador')">
                    <a class="nav-link" [routerLink]="['afiliado']"> Afiliados <span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="loginService.userLoggedIn && (loginService.userLogged.perfil=='Administrativo' || loginService.userLogged.perfil=='Administrador')">
                    <a class="nav-link" [routerLink]="['servicio']"> Servicios <span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="loginService.userLoggedIn && (loginService.userLogged.perfil=='Administrativo' || loginService.userLogged.perfil=='Administrador')">
                    <a class="nav-link" [routerLink]="['pago']"> Pagos <span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="loginService.userLoggedIn && (loginService.userLogged.perfil=='Administrativo' || loginService.userLogged.perfil=='Administrador')">
                    <a class="nav-link" [routerLink]="['noticia']"> Noticias <span class="sr-only">(current)</span></a>
                </li>
                </ul>
            </div>
        </div>
        
    </nav>
    <!-- FIN Menu de Pagina -->    			
</div>	 