<br>
<!-- Cuerpo de la Pagina   -->
		  <section class="" >      
            <article id="cabecera">
                <br><br>
                <h2 class="text-center">Contactos</h2>
                <br>
                <p class="text-center">Complete el Formulario para ser beneficiario</p>
                <br>               
            </article>
            <article id="FORMULARIO" class="row">
				<div class='registro col-md-6'>
					<div id="registrotitulo"><h3>Contactos</h3></div>
                        <form id="registro">
                            
                            <input type='text' placeholder='Nombre:'  />
                            <input type='email' placeholder='Email:'  />
                            <input type='text' placeholder='Telefono:'  />
							<textarea type='text' name="mensaje" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder='Escribe tu mensaje...'></textarea>		
							
							
                            <input type='submit' class="btn-primary" placeholder='SUBMIT' />
                            <input type="reset" name="Cancelar" value="Cancelar" onClick="#"> 
                        </form>
                </div>
				<div class='imagen col-md-6 mb-3'>
				
				</div>
			</article> 
		</section>
		<!-- Pie de la Pagina      -->