<div class="container mt-3">
    <form class="card" #novedad1Form="ngForm" *ngIf="loginService.userLoggedIn && loginService.userLogged.perfil=='Socio'" class="was-validated">
      <article id="cabecera">
        <br><br>
        <h2 class="text-center">Enviar Novedad</h2>
        <br>               
      </article>
        <div class="card-body">
        <!-- descripcion -->
        <div class="form-group row">
            <label for="iddescripcion" class="col-sm-12 col-md-4 h4"><b>Descripcion</b></label>
            <input id="iddescripcion" class="form-control form-control-sm col-md-7" required 
            type="text" name="descripcion" #txtDescripcion="ngModel"
            [(ngModel)]="_novedad.texto"/>                
            <div *ngIf="txtDescripcion.invalid && (txtDescripcion.dirty || txtDescripcion.touched)" class="alert alert-danger">
            <div *ngIf="txtDescripcion.errors.required">
                El campo Descripcion es requerido
            </div>
            </div>								  		
        </div>      
        
        <!-- Botones -->
        <div class="form-group text-center">
            <button class="btn btn-success ml-2 mr-2" [disabled]="!novedad1Form.form.valid" (click)="agregarNovedad()">&nbsp;Enviar</button>
            <button class="btn btn-secondary ml-2 mr-2" (click)="limpiarCampos()"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Limpiar</button>
        </div>
      </div>
    </form>

    <div *ngIf="loginService.userLoggedIn && (loginService.userLogged.perfil=='Administrativo' || loginService.userLogged.perfil=='Administrador')">
      <h2 class="text-center mt-3">Novedades Pendientes</h2>
      <!-- Tabla -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
            <th >Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let novedad of _novedades" >
            <td>{{ novedad.usuario.usuario }}</td>
            <td>{{ novedad.texto }}</td>            
            <td>{{ mostrarEstado(novedad.estado) }}</td>
            <td><input type="checkbox" [(ngModel)]="novedad.estado"/> </td>
            <td>       
              <button class="btn btn-danger" (click)="eliminarNovedad(novedad)"><i class="icon-remove"></i>&nbsp;Borrar</button>
              <button class="btn btn-secondary" (click)="modificarNovedad(novedad)"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Modificar</button>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
