<div class="container mt-3">
  <form class="card" #usuarioForm="ngForm" class="was-validated">
    <article id="cabecera">
      <br><br>
      <h2 class="text-center">Gesti&oacute;n de Usuarios</h2>
      <br>
      <p class="text-center">Complete el Formulario para el usuario</p>
      <br>               
    </article>
    <div class="card-body">
      <!-- Usuario -->
      <div class="form-group row">
        <label for="idusuario" class="col-sm-12 col-md-4 h4"><b>Usuario: </b></label>
        <input id="idusuario" class="form-control col-sm-12 col-md-7" required pattern= "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                type="text" name="usuario" #txtUsuario="ngModel" placeholder="email@gmail.com"
                [(ngModel)]="_usuario.usuario"/>
        <div *ngIf="txtUsuario.invalid && (txtUsuario.dirty || txtUsuario.touched)" class="alert alert-danger">
          <div *ngIf="txtUsuario.errors.required">
            El Usuario es requerido
          </div>
          <div *ngIf="txtUsuario.errors.pattern">
            El Usuario debe ser un email
          </div>
        </div>								  		
      </div>
      <!-- Password -->
        <div class="form-group row">
            <label for="idpassword" class="col-sm-12 col-md-4 h4"><b>Password: </b></label>
            <input id="idpassword" class="form-control col-sm-12 col-md-7" required type="password" name="password" #txtPassword="ngModel" [(ngModel)]="_usuario.password"/>
            <div *ngIf="txtPassword.invalid && (txtPassword.dirty || txtPassword.touched)" class="alert alert-danger">
              <div *ngIf="txtPassword.errors.required">
              El Password es requerido
              </div>
            </div>
        </div>
        <!-- Perfil -->
        <div class="form-group row">
          <label for="idperfil" class="col-sm-12 col-md-4 h4"><b>Perfil: </b></label>
          <select id="idperfil" class="form-control col-sm-12 col-md-7" required name="perfil" #txtPerfil="ngModel" [(ngModel)]="_usuario.perfil">
            <option >Administrador</option>
            <option >Administrativo</option>
            <option >Socio</option>
          </select>
          <div *ngIf="txtPerfil.invalid && (txtPerfil.dirty || txtPerfil.touched)" class="alert alert-danger">
            <div *ngIf="txtPerfil.errors.required">
            El Perfil es requerido
            </div>
          </div>
        </div>  
        <!-- Activo -->
        <div class="form-group row">
            <label for="idactivo" class="col-sm-12 col-md-4 h4"><b>Activo: </b></label>
            <input id="idactivo" class="form-control col-sm-12 col-md-7" type="checkbox" name="activo" [(ngModel)]="_usuario.activo"/> 
        </div>
        <!-- Botones -->
        <div class="form-group text-center">
            <button class="btn btn-primary mr-1" [disabled]="!usuarioForm.form.valid || editMode" (click)="agregarUsuario()"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Guardar</button>
            <button class="btn btn-primary mr-1" [disabled]="!editMode" (click)="modificarUsuario()" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Modificar</button>            
            <button class="btn btn-primary mr-1" (click)="limpiarCampos()" ><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Limpiar</button>
        </div>
    </div>
  </form>
    
    <h2 class="text-center mt-3">Informaci&oacute;n de Usuarios</h2>
    <!-- Tabla -->
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Password</th>
            <th scope="col">Activo</th>
            <th scope="col">Perfil</th>
            <th >Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _usuario of _usuarios" >
            <th>{{ _usuario.usuario }}</th>
            <td>*</td>
            <td><input type="checkbox" [checked]="_usuario.activo"/> </td>
            <td>{{ _usuario.perfil }}</td>
            <td> 
              <button class="btn btn-primary mr-1" (click)="seleccionarUsuario(_usuario)"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Seleccionar</button>          
              <button class="btn btn-danger mr-1" (click)="eliminarUsuario(_usuario)"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>