<!-- Cuerpo de la Pagina   -->
<section class="text-center" >      
	<article id="cabecera">
		<br>
            <h1>CONTENIDO PRINCIPAL</h1>
        <br>
        <div>
			<h2>PRO - LIVE mejorando tu vida y dando un nuevo comienzo.</h2>
        </div>
            <p class="h4 text-center">Obra Social PRO LIVE es una empresa cuyo enfoque principal es el proteguer y dar coberturas a sus Clientes.</p>
        <br>
    </article>
</section>   
<section class="" >
    <article id="actividad" class="container row">
        <div class="card caja col-md-4 col-sm-12">
            <div class="contenidocaja ">
                <h2>Obra Social PRO LIVE</h2>
                <p>Obra Social PRO LIVE es una empresa cuyo enfoque principal es el proteguer y dar coberturas a sus Clientes a tra ves de sus diversos servicios y accesorias. De este modo poder mejor la calidad de vida de cada uno de ellos y a la ves facilitarselas.</p>
                <a  href="#" class="btn btn-danger"  >Mas Detalle</a>
            </div>
        </div>
        <div class="card caja  col-md-4 col-sm-12">
            <div class="contenidocaja">
                <h2>Obra Social PRO LIVE</h2>
                <p>Obra Social PRO LIVE es una empresa cuyo enfoque principal es el proteguer y dar coberturas a sus Clientes a tra ves de sus diversos servicios y accesorias. De este modo poder mejor la calidad de vida de cada uno de ellos y a la ves facilitarselas.</p>
                <a  href="#" class="btn btn-danger"  >Mas Detalle</a>
            </div>
        </div>    
        <div class="card caja  col-md-4 col-sm-12">
            <div class="contenidocaja">
                <h2>Obra Social PRO LIVE</h2>
                <p>Obra Social PRO LIVE es una empresa cuyo enfoque principal es el proteguer y dar coberturas a sus Clientes a tra ves de sus diversos servicios y accesorias. De este modo poder mejor la calidad de vida de cada uno de ellos y a la ves facilitarselas.</p>
                <a  href="#" class="btn btn-danger"  >Mas Detalle</a>
            </div>
        </div>           
    </article> 
</section>

<section>
	<div class="row"  >		
	    <div class="col-lg-4 col-md-4 col-sm-12 p-1 " *ngFor="let _noticia of _noticias" >
            <div class="card h-100 "  >
				<!-- Imagen de Noticia -->
				<img class="card-img-top img-fluid " [src]="_noticia.imagen" alt=""/>
				<div class="card-body">
				<!-- Titulo de Noticias -->
                    <h4 class="card-title">{{_noticia.titulo}}</h4>
					<!-- Resumen de Noticias -->
					<p class="card-text">{{_noticia.descripcion}}</p>
						<p class="card-text"><small class="text-muted">{{_noticia.fecha | date:'dd/MM/yyyy'}}</small></p>
						<p>
						<a type="button" class="btn-floating btn-fb btn-sm face" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgithub.com%2Fmaxicruz%2FTpFinal_Grupo02&amp;src=sdkpreparse">
							<i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;Compartir
						</a>
						</p>
						<p>
						<a type="button" class="btn-floating btn-fb btn-sm google" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A4200%2Fhome&amp;src=sdkpreparse">
							<i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;Compartir
					    </a>
					    </p>
						<p>
					    <a type="button" class="btn-floating btn-sm twitter">
							<i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;Compartir
					    </a>
					</p>							   
                </div>
            </div>
        </div>
	</div>
</section>