<div class="container mt-3">
  <form class="card" #afiliadoForm="ngForm" class="was-validated">
    <article id="cabecera">
      <br><br>
      <h2 class="text-center">Gesti&oacute;n de Afiliados</h2>
      <br>
      <p class="text-center">Complete el Formulario para el afiliado</p>
      <br>               
    </article>
    <div class="card-body">
      <!-- Apellido -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4">Apellido</label>
        <input class="form-control col-sm-12 col-md-7" type="text" id="apellido" name="txtApellido" required minlength="3" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" #txtApellido="ngModel" [(ngModel)]="_afiliado.apellido" />
        <div *ngIf="txtApellido.invalid && (txtApellido.dirty || txtApellido.touched)" class="invalid-feedback">
          <div *ngIf="txtApellido.errors.required">
            El campo Apellido es requerido
          </div>
          <div *ngIf="txtApellido.errors.minlength">
            Se necesitan 3 caracteres m&iacute;nimo
          </div>
          <div *ngIf="txtApellido.errors.pattern">
            Solo se admiten letras
          </div>
        </div>
      </div>

      <!-- Nombre -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4">Nombre/s</label>
        <input class="form-control col-sm-12 col-md-7" type="text" id="nombre" name="txtNombre" required minlength="3" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" #txtNombre="ngModel" [(ngModel)]="_afiliado.nombres" />
        <div *ngIf="txtNombre.invalid && (txtNombre.dirty || txtNombre.touched)" class="invalid-feedback">
          <div *ngIf="txtNombre.errors.required">
            El campo Nombre es requerido
          </div>
          <div *ngIf="txtNombre.errors.minlength">
            Se necesitan 3 caracteres m&iacute;nimo
          </div>
          <div *ngIf="txtNombre.errors.pattern">
            Solo se admiten letras
          </div>
        </div>
      </div>

      <!-- DNI -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4">DNI</label>
        <input class="form-control col-sm-12 col-md-7" type="text" name="txtDni" required minlength="7"
          pattern="[0-9]{7,20}" #txtDni="ngModel" [(ngModel)]="_afiliado.dni" />
        <div *ngIf="txtDni.invalid && (txtDni.dirty || txtDni.touched)" class="invalid-feedback">
          <div *ngIf="txtDni.errors.required">
            El campo DNI es requerido
          </div>
          <div *ngIf="txtDni.errors.minlength">
            Se necesitan 7 caracteres m&iacute;nimo
          </div>
          <div *ngIf="txtDni.errors.pattern">
            Solo se admiten numeros
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4" for="">Email</label>
        <input class="form-control col-sm-12 col-md-7" type="text" name="txtEmail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #txtEmail="ngModel" [(ngModel)]="_afiliado.email" />
        <div *ngIf="txtEmail.invalid && (txtEmail.dirty || txtEmail.touched)" class="invalid-feedback">
          <div *ngIf="txtEmail.errors.required">
            El campo Email es requerido
          </div>
          <div *ngIf="txtEmail.errors.pattern">
            Ingrese un email v&aacute;lido
          </div>
        </div>
      </div>

      <!-- Imagen -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4" for="">Imagen</label>
        <input class="form-control col-sm-12 col-md-7" type="file" alife-file-to-base64 (onFileChanged)="convertirArchivo($event)" name="txtImagen" required #txtImagen="ngModel" [(ngModel)]="_convertido" />
        <div *ngIf="txtImagen.invalid && (txtImagen.dirty || txtImagen.touched)" class="invalid-feedback">
          <div *ngIf="txtImagen.errors.required">
            El campo Imagen es requerido
          </div>
        </div>
      </div>

      <!-- Telefono -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4" for="">Tel&eacute;fono</label>
        <input class="form-control col-sm-12 col-md-7" type="text" name="txtTelefono" required minlength="7" pattern="[0-9]{7,20}" #txtTelefono="ngModel" [(ngModel)]="_afiliado.telefono" />
        <div *ngIf="txtTelefono.invalid && (txtTelefono.dirty || txtTelefono.touched)" class="invalid-feedback">
          <div *ngIf="txtTelefono.errors.required">
            El campo Tel&eacute;ono es requerido
          </div>
          <div *ngIf="txtTelefono.errors.minlength">
            Se necesitan 7 caracteres m&iacute;nimo
          </div>
          <div *ngIf="txtTelefono.errors.pattern">
            Solo se admiten numeros
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="form-group text-center">
        <button type="button" class="btn btn-success" [disabled]="!afiliadoForm.form.valid" (click)="agregarAfiliado()"><i class="fas fa-save fal"></i>&nbsp;Agregar Afiliado</button>
      </div>
    </div>
  </form>

  <h2 class="text-center mt-3">Informaci&oacute;n de Afiliados</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre/s</th>
          <th>DNI</th>
          <th>Email</th>
          <th>Imagen</th>
          <th>Tel&eacute;fono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let _afiliado of _afiliados">
          <td>{{ _afiliado.apellido }}</td>
          <td>{{ _afiliado.nombres }}</td>
          <td>{{ _afiliado.dni }}</td>
          <td>{{ _afiliado.email }}</td>
          <td><img src="{{ _afiliado.imagen }}" alt="" width="50px" height="50px"></td>
          <td>{{ _afiliado.telefono }}</td>
          <td>
            <!-- Modificar -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarModal" (click)="auxiliarAfiliado(_afiliado)">Modificar</button>
            <!-- Modificar Modal -->
            <div class="modal fade" id="modificarModal" tabindex="-1" role="dialog"
              aria-labelledby="modificarModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modificarModalLabel">Modificar Afiliado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form #afiliadoModificarForm="ngForm" class="was-validated">
                  <div class="modal-body">
                    <!-- Apellido -->
                    <div class="row form-group">
                      <label class="col-sm-12 col-md-4">Apellido</label>
                      <input class="form-control col-sm-12 col-md-8" type="text" name="txtApellido" required minlength="3" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" #txtApellido="ngModel" [(ngModel)]="_afiliadoAuxiliar.apellido" />
                      <div *ngIf="txtApellido.invalid && (txtApellido.dirty || txtApellido.touched)" class="invalid-feedback">
                        <div *ngIf="txtApellido.errors.required">
                          El campo Apellido es requerido
                        </div>
                        <div *ngIf="txtApellido.errors.minlength">
                          Se necesitan 3 caracteres m&iacute;nimo
                        </div>
                        <div *ngIf="txtApellido.errors.pattern">
                          Solo se admiten letras
                        </div>
                      </div>
                    </div>
              
                    <!-- Nombre -->
                    <div class="row form-group">
                      <label class="col-sm-12 col-md-4">Nombre/s</label>
                      <input class="form-control col-sm-12 col-md-8" type="text" name="txtNombre" required minlength="3" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" #txtNombre="ngModel" [(ngModel)]="_afiliadoAuxiliar.nombres" />
                      <div *ngIf="txtNombre.invalid && (txtNombre.dirty || txtNombre.touched)" class="invalid-feedback">
                        <div *ngIf="txtNombre.errors.required">
                          El campo Nombre es requerido
                        </div>
                        <div *ngIf="txtNombre.errors.minlength">
                          Se necesitan 3 caracteres m&iacute;nimo
                        </div>
                        <div *ngIf="txtNombre.errors.pattern">
                          Solo se admiten letras
                        </div>
                      </div>
                    </div>
              
                    <!-- DNI -->
                    <div class="row form-group">
                      <label class="col-sm-12 col-md-4">DNI</label>
                      <input class="form-control col-sm-12 col-md-8" type="text" name="txtDni" required minlength="7"  pattern="[0-9]{7,20}" #txtDni="ngModel" [(ngModel)]="_dniModificar" />
                      <div *ngIf="txtDni.invalid && (txtDni.dirty || txtDni.touched)" class="invalid-feedback">
                        <div *ngIf="txtDni.errors.required">
                          El campo DNI es requerido
                        </div>
                        <div *ngIf="txtDni.errors.minlength">
                          Se necesitan 7 caracteres m&iacute;nimo
                        </div>
                        <div *ngIf="txtDni.errors.pattern">
                          Solo se admiten numeros
                        </div>
                      </div>
                    </div>
              
                    <!-- Email -->
                    <div class="row form-group">
                      <label class="col-sm-12 col-md-4" for="">Email</label>
                      <input class="form-control col-sm-12 col-md-8" type="text" name="txtEmail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #txtEmail="ngModel" [(ngModel)]="_afiliadoAuxiliar.email" />
                      <div *ngIf="txtEmail.invalid && (txtEmail.dirty || txtEmail.touched)"class="invalid-feedback">
                        <div *ngIf="txtEmail.errors.required">
                          El campo Email es requerido
                        </div>
                        <div *ngIf="txtEmail.errors.pattern">
                          Ingrese un email v&aacute;lido
                        </div>
                      </div>
                    </div>
              
                    <!-- Imagen -->
                    <div class="row form-group">
                      <label class="col-sm-12 col-md-4" for="">Imagen</label>
                      <input class="form-control col-sm-12 col-md-8" type="file" alife-file-to-base64 (onFileChanged)="convertirArchivo($event)" name="txtImagen" #txtImagen="ngModel" [(ngModel)]="_convertido" />
                      <div *ngIf="txtImagen.invalid && (txtImagen.dirty || txtImagen.touched)" class="invalid-feedback">
                        <div *ngIf="txtImagen.errors.required">
                          El campo Imagen es requerido
                        </div>
                      </div>
                      <div class="rounded mx-auto d-block mt-2">
                      Imagen Actual  <img  src="{{ _afiliadoAuxiliar.imagen }}" alt="" width="50px" height="50px">
                      </div>
                    </div>
              
                    <!-- Telefono -->
                    <div class="row form-group">
                      <label class="col-sm-12 col-md-4" for="">Tel&eacute;fono</label>
                      <input class="form-control col-sm-12 col-md-8" type="text" name="txtTelefono" required minlength="7" pattern="[0-9]{7,20}" #txtTelefono="ngModel" [(ngModel)]="_afiliadoAuxiliar.telefono" />
                      <div *ngIf="txtTelefono.invalid && (txtTelefono.dirty || txtTelefono.touched)" class="invalid-feedback">
                        <div *ngIf="txtTelefono.errors.required">
                          El campo Tel&eacute;ono es requerido
                        </div>
                        <div *ngIf="txtTelefono.errors.minlength">
                          Se necesitan 7 caracteres m&iacute;nimo
                        </div>
                        <div *ngIf="txtTelefono.errors.pattern">
                          Solo se admiten numeros
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="modificarAfiliado(_afiliadoAuxiliar)" [disabled]="!afiliadoModificarForm.form.valid">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Eliminar -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal" (click)="auxiliarAfiliado(_afiliado)">Eliminar</button>
            <!-- Eliminar Modal -->
            <div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="eliminarModalLabel">¿Desea eliminar este afiliado?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h6>{{ _afiliadoAuxiliar.apellido }}, {{ _afiliadoAuxiliar.nombres }}</h6>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarAfiliado(_afiliadoAuxiliar)" >Si</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button class="btn btn-primary" (click)="imprimirAfiliados()">Imprimir Afiliados</button>
    </div>
  </div>
</div>