<div class="container mt-3">
  <form class="card" #pagoForm="ngForm" class="was-validated">
    <article id="cabecera">
      <br><br>
      <h2 class="text-center">Gesti&oacute;n de Pagos</h2>
      <br>
      <p class="text-center">Complete el Formulario para el pago</p>
      <br>               
    </article>
    <div class="card-body" id="printJS-form">
      <!-- Afiliado -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4"><b>Afiliado: </b></label>
        <!-- Carga la lista de la base de datos -->
        <select class="form-control col-sm-12 col-md-7" name="cmbAfiliado" required [(ngModel)]="_pago.afiliado">
          <option value="{{item._id}}" *ngFor="let item of _afiliados"> {{ item.apellido | uppercase }}, {{ item.nombres }} - DNI {{ item.dni | number:'1.0-2' }} </option>
        </select>
      </div>
      <!-- Monto -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4"><b>Monto: </b></label>
        <input class="form-control col-sm-12 col-md-7" type="text" name="txtMonto" [(ngModel)]="_pago.monto" required pattern="(^[1-9][0-9]*.[0-9][0-9]|^[1-9][0-9]*$|^[1-9][0-9]*.[0-9])" #txtMonto="ngModel" />
        <div *ngIf="txtMonto.invalid && (txtMonto.dirty || txtMonto.touched)" class="invalid-feedback">
          <div *ngIf="txtMonto.errors.required">
            El campo Monto es requerido
          </div>
          <div *ngIf="txtMonto.errors.pattern">
            Solo se admiten precios mayores a ceros y hasta dos decimales
          </div>
        </div>
      </div>
      <!-- Mes -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4"><b>Mes: </b></label>
        <select name="cmbMes" class="form-control col-sm-12 col-md-7" required [(ngModel)]="_pago.mes">
          <option value="Enero">Enero</option>
          <option value="Febrero">Febrero</option>
          <option value="Marzo">Marzo</option>
          <option value="Abril">Abril</option>
          <option value="Mayo">Mayo</option>
          <option value="Junio">Junio</option>
          <option value="Julio">Julio</option>
          <option value="Agosto">Agosto</option>
          <option value="Septiembre">Septiembre</option>
          <option value="Octubre">Octubre</option>
          <option value="Noviembre">Noviembre</option>
          <option value="Diciembre">Diciembre</option>
        </select>
      </div>
      <!-- Año -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4"><b>Año: </b></label>
        <input class="form-control col-sm-12 col-md-7" type="text" name="txtAnio" [(ngModel)]="_pago.anio" required pattern="[2-9][0-9][0-9][0-9]" minlength="4" maxlength="4" #txtAnio="ngModel" />
        <div *ngIf="txtAnio.invalid && (txtAnio.dirty || txtAnio.touched)" class="invalid-feedback">
          <div *ngIf="txtAnio.errors.required">
            El campo Año es requerido
          </div>
          <div *ngIf="txtAnio.errors.minlength">
            El campo Año debe ser de 4 caracteres
          </div>
          <div *ngIf="txtAnio.errors.pattern">
            Ingrese un año v&aacute;lido, mayor o igual a 2000
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <!-- Botones -->
      <div class="form-group text-center">
        <button type="button" class="btn btn-primary mr-1" [disabled]="!pagoForm.form.valid" (click)="agregarPago('printJS-form')"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Guardar</button>
        <button type="reset" class="btn btn-primary mr-1" ><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Limpiar</button>
      </div>
    </div>
  </form>

  <h2 class="text-center mt-3">Informaci&oacute;n de Pagos</h2>
  <div class="table-responsive">
    <table class="table" [mfData]="_pagos" #mf="mfDataTable" [mfRowsOnPage]="3">
      <thead>
        <tr>
          <th>Afiliado</th>
          <th>Fecha</th>
          <th>Monto</th>
          <th>Mes</th>
          <th>Año</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of mf.data">
          <td>{{ pago.afiliado.apellido | uppercase}}, {{ pago.afiliado.nombres }} - {{ pago.afiliado.dni }}</td>
          <td>{{ pago.fecha | date:"dd-MM-yyyy" }}</td>
          <td>{{ pago.monto }}</td>
          <td>{{ pago.mes }}</td>
          <td>{{ pago.anio }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
            <td colspan="3">
                <mfBootstrapPaginator [rowsOnPageSet]="[3,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>