<br>
<!-- Cuerpo de la Pagina   -->
		  <section class="" >      
            <article id="cabecera">
                <br><br>
                <h2 class="text-center">Noticias</h2>
                <br>
                <p class="text-center">Complete el Formulario para ser beneficiario</p>
                <br>               
            </article>
            <br>
            <article>
                
                    <form class="card">
                        <div class="container">    
                            <fieldset>
                                <legend class="h2">Crear  Noticia:</legend>
                                     <!-- /ID -->
                                     <div class="row form-group">
                                        <label class="col-sm-12 col-md-4" ><b>ID: </b></label>
                                        <input class="form-control col-sm-12 col-md-7" type="text" maxlength="50"  placeholder="Introduce Titulo..." disabled required  />
                                    </div>
                                    <!-- /Titulo -->
                                    <div class="row form-group">
                                        <label class="col-sm-12 col-md-4 h4" ><b>Titulo: </b></label>
                                        <input class="form-control col-sm-12 col-md-7" type="text" maxlength="50"  placeholder="Introduce Titulo..."  required  />
                                    </div>
                                    <!-- /Descripcion -->
                                    <div class="row form-group">
                                        <label class="col-sm-12 col-md-4 h6" ><b>Descripcion: </b></label>
                                        <input class="form-control col-sm-12 col-md-7" type="textarea" maxlength="50"  placeholder="Introduce Titulo..."  required  />
                                    </div>
                                    <!-- /Fecha -->
                                    <div class="row form-group">
                                        <label class="col-sm-12 col-md-2 h6" ><b>Fecha: </b></label>
                                        <input class="form-control col-sm-12 col-md-3" type="date" maxlength="50"  placeholder="Introduce Titulo..."  required  />
                                        <label class="col-sm-12 col-md-2 h6" ><b> Vigente: </b></label>
                                        <select class="form-control input-lg col-sm-12 col-md-3"  name="seleccionado" placeholder="Elija una opcion" required>
                                            <option  value="2"selected>Si</option>
                                            <option value="1">No </option>					  
                                        </select>
                                    </div>
                                    <!-- /USURIO -->
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="col-sm-12 col-md-4 h5" ><b> USURIO: </b></label>
                                            <select class="form-control input-lg col-sm-12 col-md-7"  name="vigente"  placeholder="Elija una opcion" required>
                                                <option  value="2"selected>Todos</option>
                                                <option value="1">Especificos </option>					  
                                            </select>
                                        </div>    
                                        <div>  
                                            <label class="col-sm-12 col-md-4 h5" ><b> Email: </b></label>
                                            <input class="form-control input-lg col-sm-12 col-md-7" type="text" maxlength="50"  placeholder="Introduce Titulo..."  required  />
                                        </div>
                                            
                                    </div>
                                    
                                    <input type="submit" class="btn btn-primary mr-3 mb-3 h3" value="Submit">
                                    <button type="reset" class="btn btn-primary mr-3 mb-3 h3" >Limpiar/Actualizar</button>            
                            </fieldset>
                        </div>
                    </form>
                   
            </article>
			
          </section>
<br>            
