<br>
<article id="cabecera">
	<br><br>
    <h2 class="text-center" >Servicios</h2>
    <div>
		<p class="text-center">Obra Social PRO LIVE es una empresa cuyo enfoque principal es el proteguer y dar coberturas a sus Clientes</p>
    </div>
    <br>
</article>
<br>
<div class="container">
	<section>
		<div class="row"  >		
			<div class="col-lg-4 col-md-4 col-sm-12 p-1 " *ngFor="let _servicio of _servicio"  >
                <div class="card h-100 "   *ngIf="_servicio.activo">
					<!-- Imagen de Noticia -->
					<img class="card-img-top img-fluid " [src]="_servicio.imagen" alt=""/>
					<div class="card-body">
						<!-- Titulo de Noticias -->
                        <h4 class="card-title">{{_servicio.nombre}}</h4>
						<!-- Resumen de Noticias -->
						<p class="card-text">{{_servicio.activo}}</p>					   
                    </div>
                </div>
            </div>
		</div>
	</section>
</div>