<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--
    <div class="toolbar" role="banner">
    <app-header></app-header>
    </div>
-->

<div class="container">
    <!-- Headero o cabecera -->
    <app-header></app-header>
    <!-- contenido -->
    <div class="container main-container">
        <router-outlet></router-outlet>
    </div>
	<!-- Footer -->
    <app-footer></app-footer>
    <!--<div class="content" role="main">
        <app-home></app-home>
        <app-punto1></app-punto1>
        <app-punto2></app-punto2>
        <app-punto3></app-punto3>
        <app-punto4></app-punto4>  
    </div>-->
</div>    

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


