<br>
<!-- Cuerpo de la Pagina   -->
<div class="container">
  <form class="card" #pagoForm="ngForm">
    <article id="cabecera">
      <br><br>
      <h2 class="text-center">Gesti&oacute;n de Novedades</h2>
      <br><br>               
    </article>
    <div class="card-body">
      <!-- Usuario -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4"><b>Usuario: </b></label>
        <select class="form-control col-sm-12 col-md-7" name="cmbAfiliado" required [(ngModel)]="_novedad.usuario">
          <option value="{{item._id}}" *ngFor="let item of _usuarios"> {{item.usuario}}</option>
        </select>
      </div> 
      <!-- Estado -->
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 h4"><b> Estado: </b></label>
          <select class="form-control col-sm-12 col-md-7" name="seleccionado" required [(ngModel)]="_novedad.estado">
            <option value="Pendiente">Pendiente</option>
            <option value="Procesado">Procesado</option>					  
          </select>
      </div>
      <!-- Texto -->
      <div class="row form-group"> 
        <div class="col">
          <label class="col-sm-12 col-md-4 h4" ><b>Texto: </b></label>
          <textarea class="form-control" rows="3" placeholder="Ingrese tu mensaje......." 
           maxlength="120">
          </textarea>
        </div>
      </div> 
      <!-- Botones -->
      <div class="form-group text-center">
        <button type="button" class="btn btn-primary mr-1" [disabled]="!pagoForm.form.valid" (click)="agregarNovedad()">Guardar</button>
        <button type="reset" class="btn btn-primary mr-1" >Limpiar</button> 
      </div>
    </div>
  </form>
</div>